* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --theme-color: rgb(25, 146, 212);
  --secondary-color: rgb(240, 180, 41);
  --bg-color: rgb(226, 232, 240);
}

.container {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 10rem 1fr;
}

/* Sidebar */

.sidebar {
  grid-row: span 2;
  background-color: var(--theme-color);
  color: white;
  display: grid;
  grid-auto-rows: min-content;
  gap: 2rem;
}

.sidebar li {
  padding: 5px;
  font-weight: bold;
}

/* Header */

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.header input {
  margin: 0 1rem;
}

.greeting-area {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 30px 1fr;
}

.greeting-area img {
  margin: 4px;
  grid-row: span 2;
}

.greeting-area p {
  font-size: larger;
}

.greeting-area .greeting {
  font-size: smaller;
  align-self: end;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header button {
  margin: 0px 5px;
  width: 5rem;
  height: 2rem;
  background-color: var(--theme-color);
  border: none;
  border-radius: 20px;
  color: white;
}

/* Body */

.body {
  display: grid;
  grid-template-columns: 1fr 15rem;
  background-color: var(--bg-color);
}

.your-projects {
  grid-row: span 2;
}

.project-card-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card {
  /* height: 200px; */
  border-left: 8px solid var(--secondary-color);
}

.your-projects,
.announcements,
.trending {
  padding: 1rem;
}

.card,
.announcement-container,
.trend-container {
  padding: 25px;
  margin: 2px;
  background-color: white;
  border-radius: 8px;
}