* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 1fr 8fr;
}

.sidebar {
  grid-row: span 2;
  background-color: rgb(48, 179, 255);
  color: white;
  display: grid;
  gap: 2rem;
}

.sidebar li {
  padding: 5px;
  font-weight: bold;
}